package-lock.json
node_modules
dist/

/baseTrie.js
/checkpointTrie.js
/db.js
/index.js
/prioritizedTaskExecutor.js
/proof.js
/readStream.js
/scratch.js
/scratchReadStream.js
/secure.js
/trieNode.js
/util/
