[submodule "ethereum-tests"]
	path = packages/ethereum-tests
	url = https://github.com/ethereum/tests.git
	branch = develop

[submodule "execution-spec-tests-fixtures"]
	path = packages/execution-spec-tests-fixtures
	url = https://github.com/ethereumjs/execution-spec-tests-fixtures.git
	branch = main
