sudo: false
os:
  - linux

language: node_js
node_js:
  - "8"
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8

env:
  global:
    - DISPLAY=:99.0
  matrix:
    - CXX=g++-4.8 TEST_SUITE=testState

matrix:
  fast_finish: true
  include:
    - os: linux
      node_js: "8"
      env: CXX=g++-4.8 TEST_SUITE=lint
    - os: linux
      node_js: "8"
      env: CXX=g++-4.8 TEST_SUITE=testState
# temporarily disable testBlockchain
#    - os: linux
#      node_js: "8"
#      env: CXX=g++-4.8 TEST_SUITE=testBlockchain
script: npm run $TEST_SUITE
