name: Build
on:
  push:
    branches: [master]
    tags: ['*']
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:

env:
  cwd: ${{github.workspace}}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}-build
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16]
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - run: npm ci
        working-directory: ${{github.workspace}}

      - uses: actions/cache@v3
        with:
          path: ${{github.workspace}}
          key: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}-build

      - run: echo ${{ github.workflow }}-${{ github.head_ref || github.run_id }}-build
      
  block:
    needs: build
    uses: ./.github/workflows/block-build.yml
    with:
      cache-key: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}-build
  
  blockchain:
    needs: build
    uses: ./.github/workflows/blockchain-build.yml
    with:
      cache-key: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}-build

  client:
    needs: build
    uses: ./.github/workflows/client-build.yml
    with:
      cache-key: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}-build

  common:
    needs: build
    uses: ./.github/workflows/common-build.yml
    with:
      cache-key: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}-build

  devp2p:
    needs: build
    uses: ./.github/workflows/devp2p-build.yml
    with:
      cache-key: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}-build

  ethash:
    needs: build
    uses: ./.github/workflows/ethash-build.yml
    with:
      cache-key: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}-build

  evm:
    needs: build
    uses: ./.github/workflows/evm-build.yml
    with:
      cache-key: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}-build

  examples:
    needs: build
    uses: ./.github/workflows/examples.yml
    with:
      cache-key: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}-build

  rlp:
    needs: build
    uses: ./.github/workflows/rlp-build.yml
    with:
      cache-key: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}-build

  statemanager:
    needs: build
    uses: ./.github/workflows/statemanager-build.yml
    with:
      cache-key: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}-build

  trie:
    needs: build
    uses: ./.github/workflows/trie-build.yml
    with:
      cache-key: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}-build
  
  tx:
    needs: build
    uses: ./.github/workflows/tx-build.yml
    with:
      cache-key: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}-build

  util:
    needs: build
    uses: ./.github/workflows/block-build.yml
    with:
      cache-key: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}-build

  vm-build:
    needs: build
    uses: ./.github/workflows/vm-build.yml
    with:
      cache-key: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}-build

  vm-pr:
    needs: build
    uses: ./.github/workflows/vm-pr.yml
    with:
      cache-key: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}-build