name: lockfile-lint

on:
  pull_request:
    types: [opened, reopened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  root:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            src:
              - 'package-lock.json'

      - name: Use Node.js 24
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'

      - if: steps.changes.outputs.src == 'true'
        run: npm install lockfile-lint-api && node scripts/lockfile-lint.js
