name: VM Nightly
on:
  schedule:
    - cron: 0 0 * * *

env:
  cwd: ${{github.workspace}}/packages/vm

defaults:
  run:
    working-directory: packages/vm

jobs:
  test-vm-api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Use Node.js 12
        uses: actions/setup-node@v2
        with:
          node-version: 12
          cache: 'npm'

      - name: Use npm v7 for workspaces support 
        run: npm i -g npm@7

      # The job is meant to run with a fresh lock file
      # to detect any possible issues with new dep versions.
      - run: rm package-lock.json
        working-directory: ${{github.workspace}}

      - run: npm i
        working-directory: ${{github.workspace}}

      - run: npm run test:API
      - run: npm run test:API:browser

  test-vm-state:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Use Node.js 12
        uses: actions/setup-node@v2
        with:
          node-version: 12
          cache: 'npm'

      - name: Use npm v7 for workspaces support 
        run: npm i -g npm@7

      # The job is meant to run with a fresh lock file
      # to detect any possible issues with new dep versions.
      - run: rm package-lock.json
        working-directory: ${{github.workspace}}

      - run: npm i
        working-directory: ${{github.workspace}}

      - run: npm run test:state:allForks

  test-vm-blockchain:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Use Node.js 12
        uses: actions/setup-node@v2
        with:
          node-version: 12
          cache: 'npm'

      - name: Use npm v7 for workspaces support 
        run: npm i -g npm@7

      # The job is meant to run with a fresh lock file
      # to detect any possible issues with new dep versions.
      - run: rm package-lock.json
        working-directory: ${{github.workspace}}

      - run: npm i
        working-directory: ${{github.workspace}}

      - run: npm run test:blockchain:allForks
        working-directory: '${{ env.cwd }}'

  test-vm-slow:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Use Node.js 12
        uses: actions/setup-node@v2
        with:
          node-version: 12
          cache: 'npm'

      - name: Use npm v7 for workspaces support 
        run: npm i -g npm@7

      # The job is meant to run with a fresh lock file
      # to detect any possible issues with new dep versions.
      - run: rm package-lock.json
        working-directory: ${{github.workspace}}

      - run: npm i
        working-directory: ${{github.workspace}}
      
      - run: npm run test:state:slow
