name: VM Nightly
on:
  schedule:
    - cron: 0 0 * * *
  workflow_dispatch:

env:
  cwd: ${{github.workspace}}/packages/vm

defaults:
  run:
    working-directory: packages/vm

jobs:
  test-vm-api:
    if: github.repository == 'ethereumjs/ethereumjs-monorepo'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v5
        with:
          node-version: 20
          cache: 'npm'
      
      - run: npm ci
        working-directory: ${{github.workspace}}

      - run: npm run test:API
  #     - run: npm run test:API:browser

  test-vm-state:
    if: github.repository == 'ethereumjs/ethereumjs-monorepo'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive

      - uses: actions/setup-node@v5
        with:
          node-version: 20
          cache: 'npm'

      - run: npm i
        working-directory: ${{github.workspace}}

      - run: npm run test:state:allForks

  test-vm-blockchain:
    if: github.repository == 'ethereumjs/ethereumjs-monorepo'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive

      - uses: actions/setup-node@v5
        with:
          node-version: 20
          cache: 'npm'

      - run: npm i
        working-directory: ${{github.workspace}}

      - run: npm run test:blockchain:allForks
        working-directory: '${{ env.cwd }}'

  test-vm-slow:
    if: github.repository == 'ethereumjs/ethereumjs-monorepo'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive

      - uses: actions/setup-node@v5
        with:
          node-version: 20
          cache: 'npm'

      - run: npm i
        working-directory: ${{github.workspace}}

      - run: npm run test:state:slow
